.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  //TODO: 50% for desktop/tablets, 100% for mobile
  // -webkit-flex-basis: 50%;
  // -ms-flex-basis: 50%;
  // flex-basis: 50%;
  text-decoration: none;

  & h4 {
    font-family: var(--sanserif);
    font-weight: 400;
  }
}

.card-data {
  display: flex;
  flex-direction: column;
  // max-width: 25.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: var(--card-background);
  margin: 1em;
  padding: 3.5rem 4.5rem;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
  transition: transform 0.45s ease, background 0.45s ease, fill 0.45s ease;
  // font-family: 'Open Sans', sans-serif;
  width: 100%;

  /* Phones */
  @media screen and (max-width: $phablet) {
    padding: 1rem 2rem;
  }

  h3 {
    color: var(--card-header);
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    transition: color 0.45s ease, border 0.45s ease, fill 0.45s ease;;

    display: inline-flex;
    align-items: center;
    width: 100%;

    /* Phones */
    @media screen and (max-width: $phablet) {
      font-size: 4rem;
      margin-top: 0px;
    }
  }

  h4 {
    color: var(--card-subtitle);
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
    width: 100%;
  }

  p {
    opacity: 1;
    font-family: var(--sanserif);
    color: var(--card-text);
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(1.5rem);
    transition: opacity 0.45s ease, transform 0.5s ease;
    width: 100%;

    /* Phones */
    @media screen and (max-width: $phablet) {
      padding: 0px;
      font-size: 1.5rem;
    }
  }

  svg {
    max-height: 100px;
    max-width: 100px;
    transition: fill 0.45s ease;

    /* Phones */
    @media screen and (max-width: $phablet) {
      max-width: 75px;
      max-height: 75px;
    }
  }

  .link-text {
    display: block;
    color: var(--card-text);
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;

    margin-top: 1rem;

    /* Phones */
    @media screen and (max-width: $phablet) {
      margin: 1.5rem 0 1rem 0;
      font-size: 1.7rem;
    }

    svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;

      path {
        fill: var(--card-text);
        transition: fill 0.45s ease;
      }
    }
  }

  &:hover {
    background: var(--twilio-red);
    transform: scale(1.02);
    text-decoration: none;

    h3 {
      color: #ffffff;
    }

    .card-header {
      border-bottom-color: #ffffff;
    }

    h4 {
      color: #ffffff;
    }

    p {
      opacity: 1;
      color: #ffffff;
      transform: none;
    }

    svg {
      fill: #ffffff;
    }

    .link-text {
      color: #ffffff;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #ffffff;
        }
      }
    }
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

.card-header {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--card-text);
  transition: color 0.45s ease, border 0.45s ease, fill 0.45s ease;
  max-height: 19vh;
  height: 100%;
}

.card-text {
  flex-grow: 2;
  margin-left: 2rem;
  letter-spacing: 2px;
  font-family: var(--serif);
  font-weight: 400;
}

.card-data.twilio {
  &:hover {
    background: var(--twilio-red);
  }
}

.card-data.beautylish {
  &:hover {
    background: var(--beautylish-black);

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.card-data.cyr3con {
  &:hover {
    background: var(--cyr3con);

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

}

.card-data.gitkraken {
  &:hover {
    background: var(--gitkraken);

    svg {
      fill: #fff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.card-data.asu {
  &:hover {
    background: var(--asu-maroon);

    svg {
      fill: #fff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.card-data.coep {
  &:hover {
    background: var(--beautylish-black);

    svg {
      fill: #fff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.card-data.barclays {
  &:hover {
    background: var(--barclays);

    svg {
      fill: #fff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.coep {
  svg {
    path {
      fill: var(--primary);
    }
  }
}

.card.card-md {
  flex-basis: 50%;

  /* Phones */
  @media screen and (max-width: $phablet) {
    flex-basis: 100%;

    & svg {
      display: none;
    }
  }

  /* Tablets */
  @media screen and (max-width: $tablet_pro) {
    flex-basis: 100%;
  }
}
