.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  //TODO: 50% for desktop/tablets, 100% for mobile
  // -webkit-flex-basis: 50%;
  // -ms-flex-basis: 50%;
  // flex-basis: 50%;
  text-decoration: none;
}

.card-data {
  display: flex;
  flex-direction: column;
  // max-width: 25.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 3.5rem 4.5rem;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
  transition: transform 0.45s ease, background 0.45s ease, fill 0.45s ease;
  // font-family: 'Open Sans', sans-serif;
  width: 100%;

  h3 {
    color: #2e3c40;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    transition: color 0.45s ease, border 0.45s ease, fill 0.45s ease;;

    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  h4 {
    color: #627084;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
    width: 100%;
  }

  p {
    opacity: 1;
    font-family: var(--sanserif);
    color: var(--dark-card);
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(1.5rem);
    transition: opacity 0.45s ease, transform 0.5s ease;
    width: 100%;
  }

  svg {
    max-height: 100px;
    max-width: 100px;
    transition: fill 0.45s ease;
  }

  .link-text {
    display: block;
    color: var(--dark-grey);
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;

    margin-top: 1rem;

    svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;

      path {
        fill: var(--dark-grey);
        transition: fill 0.45s ease;
      }
    }
  }

  &:hover {
    background: var(--twilio-red);
    transform: scale(1.02);
    text-decoration: none;

    h3 {
      color: #ffffff;
      // border-bottom-color: #A754C4;
    }

    .card-header {
      border-bottom-color: #ffffff;
    }

    h4 {
      color: #ffffff;
    }

    p {
      opacity: 1;
      color: #ffffff;
      transform: none;
    }

    svg {
      fill: #ffffff;
      // transform: fill .45s ease;;
    }

    .link-text {
      color: #ffffff;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #ffffff;
        }
      }
    }
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

.card-header {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--dark-card);
  transition: color 0.45s ease, border 0.45s ease, fill 0.45s ease;
  max-height: 20vh;
}

.card-text {
  flex-grow: 2;
  margin-left: 2rem;
  letter-spacing: 2px;
}

.card-data.twilio {
  &:hover {
    background: var(--twilio-red);
  }
}

.card-data.beautylish {
  &:hover {
    background: var(--beautylish-black);

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.card-data.cyr3con {
  &:hover {
    background: var(--cyr3con);

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

}

.card-data.gitkraken {
  &:hover {
    background: var(--gitkraken);

    svg {
      fill: #fff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.card.card-md {
  flex-basis: 50%;
}
