@font-face {
  font-family: "Futura";
  src: url('/fonts/Futura-CondensedLight.eot');
  src: local('Futura Condensed Light'), local('Futura-CondensedLight'),
      url('/fonts/Futura-CondensedLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Futura-CondensedLight.woff2') format('woff2'),
      url('/fonts/Futura-CondensedLight.woff') format('woff'),
      url('/fonts/Futura-CondensedLight.ttf') format('truetype'),
      url('/fonts/Futura-CondensedLight.svg#Futura-CondensedLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url('/fonts/Futura-Black-Bold.eot');
  src: local('Futura-Black Bold'), local('Futura-Black-Bold'),
      url('/fonts/Futura-Black-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Futura-Black-Bold.woff2') format('woff2'),
      url('/fonts/Futura-Black-Bold.woff') format('woff'),
      url('/fonts/Futura-Black-Bold.ttf') format('truetype'),
      url('/fonts/Futura-Black-Bold.svg#Futura-Black-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura EB";
  src: url('/fonts/FuturaBT-ExtraBlack.eot');
  src: local('Futura Extra Black BT'), local('FuturaBT-ExtraBlack'),
      url('/fonts/FuturaBT-ExtraBlack.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
      url('/fonts/FuturaBT-ExtraBlack.woff') format('woff'),
      url('/fonts/FuturaBT-ExtraBlack.ttf') format('truetype'),
      url('/fonts/FuturaBT-ExtraBlack.svg#FuturaBT-ExtraBlack') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura EBCI";
  src: url('/fonts/FuturaBT-ExtraBlackCondItalic.eot');
  src: local('Futura Extra Black Condensed Italic BT'), local('FuturaBT-ExtraBlackCondItalic'),
      url('/fonts/FuturaBT-ExtraBlackCondItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-ExtraBlackCondItalic.woff') format('woff'),
      url('/fonts/FuturaBT-ExtraBlackCondItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-ExtraBlackCondItalic.svg#FuturaBT-ExtraBlackCondItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura MI";
  src: url('/fonts/FuturaBT-MediumItalic.eot');
  src: local('Futura Medium Italic BT'), local('FuturaBT-MediumItalic'),
      url('/fonts/FuturaBT-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-MediumItalic.woff') format('woff'),
      url('/fonts/FuturaBT-MediumItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-MediumItalic.svg#FuturaBT-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url('/fonts/Futura-Bold.eot');
  src: local('Futura Bold'), local('Futura-Bold'),
      url('/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Futura-Bold.woff2') format('woff2'),
      url('/fonts/Futura-Bold.woff') format('woff'),
      url('/fonts/Futura-Bold.ttf') format('truetype'),
      url('/fonts/Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura LC";
  src: url('/fonts/FuturaBT-LightItalic.eot');
  src: local('Futura Light Italic BT'), local('FuturaBT-LightItalic'),
      url('/fonts/FuturaBT-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-LightItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-LightItalic.woff') format('woff'),
      url('/fonts/FuturaBT-LightItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-LightItalic.svg#FuturaBT-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Md";
  src: url('/fonts/FuturaBT-Medium.eot');
  src: local('Futura Medium BT'), local('FuturaBT-Medium'),
      url('/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Medium.woff2') format('woff2'),
      url('/fonts/FuturaBT-Medium.woff') format('woff'),
      url('/fonts/FuturaBT-Medium.ttf') format('truetype'),
      url('/fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura B1";
  src: url('/fonts/Futura-Bold_1.eot');
  src: local('Futura-Bold'),
      url('/fonts/Futura-Bold_1.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Futura-Bold_1.woff2') format('woff2'),
      url('/fonts/Futura-Bold_1.woff') format('woff'),
      url('/fonts/Futura-Bold_1.ttf') format('truetype'),
      url('/fonts/Futura-Bold_1.svg#Futura-Bold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura MC";
  src: url('/fonts/FuturaBT-MediumCondensed.eot');
  src: local('Futura Medium Condensed BT'), local('FuturaBT-MediumCondensed'),
      url('/fonts/FuturaBT-MediumCondensed.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-MediumCondensed.woff2') format('woff2'),
      url('/fonts/FuturaBT-MediumCondensed.woff') format('woff'),
      url('/fonts/FuturaBT-MediumCondensed.ttf') format('truetype'),
      url('/fonts/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura L";
  src: url('/fonts/FuturaBT-Light.eot');
  src: local('Futura Light BT'), local('FuturaBT-Light'),
      url('/fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Light.woff2') format('woff2'),
      url('/fonts/FuturaBT-Light.woff') format('woff'),
      url('/fonts/FuturaBT-Light.ttf') format('truetype'),
      url('/fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura H";
  src: url('/fonts/FuturaBT-Heavy.eot');
  src: local('Futura Heavy BT'), local('FuturaBT-Heavy'),
      url('/fonts/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Heavy.woff2') format('woff2'),
      url('/fonts/FuturaBT-Heavy.woff') format('woff'),
      url('/fonts/FuturaBT-Heavy.ttf') format('truetype'),
      url('/fonts/FuturaBT-Heavy.svg#FuturaBT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura HI";
  src: url('/fonts/FuturaBT-HeavyItalic.eot');
  src: local('Futura Heavy Italic BT'), local('FuturaBT-HeavyItalic'),
      url('/fonts/FuturaBT-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-HeavyItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-HeavyItalic.woff') format('woff'),
      url('/fonts/FuturaBT-HeavyItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-HeavyItalic.svg#FuturaBT-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura EB";
  src: url('/fonts/FuturaBT-ExtraBlack_1.eot');
  src: local('Futura Extra Black BT'), local('FuturaBT-ExtraBlack'),
      url('/fonts/FuturaBT-ExtraBlack_1.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-ExtraBlack_1.woff2') format('woff2'),
      url('/fonts/FuturaBT-ExtraBlack_1.woff') format('woff'),
      url('/fonts/FuturaBT-ExtraBlack_1.ttf') format('truetype'),
      url('/fonts/FuturaBT-ExtraBlack_1.svg#FuturaBT-ExtraBlack') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url('/fonts/FuturaBT-LightCondensed.eot');
  src: local('Futura Light Condensed BT'), local('FuturaBT-LightCondensed'),
      url('/fonts/FuturaBT-LightCondensed.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-LightCondensed.woff2') format('woff2'),
      url('/fonts/FuturaBT-LightCondensed.woff') format('woff'),
      url('/fonts/FuturaBT-LightCondensed.ttf') format('truetype'),
      url('/fonts/FuturaBT-LightCondensed.svg#FuturaBT-LightCondensed') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Book";
  src: url('/fonts/FuturaBT-Book.eot');
  src: local('Futura Book BT'), local('FuturaBT-Book'),
      url('/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-Book.woff2') format('woff2'),
      url('/fonts/FuturaBT-Book.woff') format('woff'),
      url('/fonts/FuturaBT-Book.ttf') format('truetype'),
      url('/fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura BI";
  src: url('/fonts/FuturaBT-BoldItalic.eot');
  src: local('Futura Bold Italic BT'), local('FuturaBT-BoldItalic'),
      url('/fonts/FuturaBT-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-BoldItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-BoldItalic.woff') format('woff'),
      url('/fonts/FuturaBT-BoldItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-BoldItalic.svg#FuturaBT-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura BC";
  src: url('/fonts/FuturaBT-BoldCondensed.eot');
  src: local('Futura Bold Condensed BT'), local('FuturaBT-BoldCondensed'),
      url('/fonts/FuturaBT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
      url('/fonts/FuturaBT-BoldCondensed.woff') format('woff'),
      url('/fonts/FuturaBT-BoldCondensed.ttf') format('truetype'),
      url('/fonts/FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura BookItalic";
  src: url('/fonts/FuturaBT-BookItalic.eot');
  src: local('Futura Book Italic BT'), local('FuturaBT-BookItalic'),
      url('/fonts/FuturaBT-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FuturaBT-BookItalic.woff2') format('woff2'),
      url('/fonts/FuturaBT-BookItalic.woff') format('woff'),
      url('/fonts/FuturaBT-BookItalic.ttf') format('truetype'),
      url('/fonts/FuturaBT-BookItalic.svg#FuturaBT-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
